<!DOCTYPE html>
<div class='homepage'>
  <header>
    <div>
      <mat-toolbar class='usertoolbar'>
        <span>User: {{ user }}</span>
        <span>Centre for Railway Information Systems</span>
        <button mat-button type='submit' (click)="onLogoutClick()">Logout</button>
      </mat-toolbar>
    </div>
  </header>
  <p>
    <mat-toolbar class='maintoolbar'>
      <button mat-button (click)='onCreateClick()'>Create</button>
      <button mat-button (click)='onModifyClick()'>Modify</button>
      <button mat-button (click)='onDeleteClick()'>Delete</button>
      <button mat-button (click)='onDisplayClick()'>Display</button>
    </mat-toolbar>
  </p>
</div>